{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "[\"abc\"]"}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "PUT", "uri": "https://api.github.com/repos/soucevi1/filabel-testrepo1/issues/1/labels"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1124729693,\"node_id\":\"MDU6TGFiZWwxMTI0NzI5Njkz\",\"url\":\"https://api.github.com/repos/soucevi1/filabel-testrepo1/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4933"], "X-RateLimit-Reset": ["1542032379"], "ETag": ["\"7ba3bee786b79280b78646bb28fd014a\""], "X-OAuth-Scopes": ["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/soucevi1/filabel-testrepo1/issues/1/labels"}, "recorded_at": "2018-11-12T13:44:19"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/soucevi1/filabel-testrepo1/issues/1/labels"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1124729693,\"node_id\":\"MDU6TGFiZWwxMTI0NzI5Njkz\",\"url\":\"https://api.github.com/repos/soucevi1/filabel-testrepo1/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4932"], "X-RateLimit-Reset": ["1542032379"], "ETag": ["\"7ba3bee786b79280b78646bb28fd014a\""], "Last-Modified": ["Mon, 12 Nov 2018 13:44:19 GMT"], "X-OAuth-Scopes": ["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/soucevi1/filabel-testrepo1/issues/1/labels"}, "recorded_at": "2018-11-12T13:44:19"}], "recorded_with": "betamax/0.8.1"}