{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/soucevi1/filabel-testrepo1/pulls/1/files"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"aaaa\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/soucevi1/filabel-testrepo1/blob/51e587bc9e1b58aa376fe6de866de0c9a8869213/aaaa\",\"raw_url\":\"https://github.com/soucevi1/filabel-testrepo1/raw/51e587bc9e1b58aa376fe6de866de0c9a8869213/aaaa\",\"contents_url\":\"https://api.github.com/repos/soucevi1/filabel-testrepo1/contents/aaaa?ref=51e587bc9e1b58aa376fe6de866de0c9a8869213\"},{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"bbbb\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/soucevi1/filabel-testrepo1/blob/51e587bc9e1b58aa376fe6de866de0c9a8869213/bbbb\",\"raw_url\":\"https://github.com/soucevi1/filabel-testrepo1/raw/51e587bc9e1b58aa376fe6de866de0c9a8869213/bbbb\",\"contents_[...]
[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repositories/156736453/pulls/2/files?page=2"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"file126\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/soucevi1/filabel-testrepo1/blob/4ee7918bb8efb6b9d5a2cda4031d84b[...]
[...]
