{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/soucevi1/filabel-testrepo1/issues/1/labels"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1120857368,\"node_id\":\"MDU6TGFiZWwxMTIwODU3MzY4\",\"url\":\"https://api.github.com/repos/soucevi1/filabel-testrepo1/labels/bug\",\"name\":\"bug\",\"color\":\"d73a4a\",\"default\":true}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4934"], "X-RateLimit-Reset": ["1542032379"], "ETag": ["\"258c59618244e0aa73acf290503d2d63\""], "Last-Modified": ["Mon, 12 Nov 2018 13:43:45 GMT"], "X-OAuth-Scopes": ["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/soucevi1/filabel-testrepo1/issues/1/labels"}, "recorded_at": "2018-11-12T13:44:16"}], "recorded_with": "betamax/0.8.1"}